<!DOCTYPE html>

<html>
	<head>
		<title>Welcome</title>
		<meta charset="utf-8" />
  </head>
  <body>
    <h1>Welcome!</h1>
    <h2>MENU</h2>
    <ul>
      <li><a href="/xyset">Change Start/End Point</a></li>
      <li><a href="/stat">Data, Statistics</a></li>
      <li><a href="/routeOnTmap">View Route on Tmap(Real-Time)</a></li>
      <li>Settings</li>
		</ul>
			※최근 조회된 소요시간은 <%= totalTime %>분 입니다.
  </body>
</html>
