<html>
	<head>
		<title>stat</title>
		<meta charset="utf-8" />
    <script src="/lib/Chart.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>stat</h1>
		<canvas id="myChart" width="400" height="400"></canvas>
		<script>
		var a = <%= size %>
		var ctx = document.getElementById("myChart"); //Chart.js Example
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: ["00-03", "03-06", "06-09", "09-12", "12-15", "15-18", "18-21", "21-24"],
		        datasets: [{
		            label: 'average time(m)',
		            data: [<%= rows[0].time/60 %>, <%= rows[1].time/60 %>, <%= rows[2].time/60 %>, <%= rows[3].time/60 %>,
											<%= rows[4].time/60 %>, <%= rows[5].time/60 %>, <%= rows[6].time/60 %>, <%= rows[7].time/60 %>],
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});
		</script>
			※최근 조회된 소요시간은 <%= totalTime %>분 입니다.<br></br>
  </body>
</html>
